@import '../abstracts/_abstracts'
div.question-box
    display: flex
    flex-wrap: nowrap
    align-items: center
    margin: .3rem 0
    h1.question
        font-size: 1.8rem
        color: $blue
        font-weight: 400
        flex-basis: 80%
    button.help
        flex-basis: 5%
        height: 80%
        @include btn
        font-family: 'Poppins', sans-serif
        color: whitesmoke
        font-weight: 600
    span.tip
        font-size: 1rem

.info-box
    width: 90%
    margin-bottom: 3rem
    div.MuiFormControl-root, div.MuiFilledInput-root, div.MuiInput-root
        width: 100%
    div.MuiSelect-select
        font-size: 1.5rem

div.popover-body
    font-size: 1.3rem

div.question-divider
    padding-bottom: 1.3rem


div.progress
    display: flex
    border-radius: 5rem
    height: 2.4rem
    box-shadow: 0 0 .3rem black
    margin-bottom: 4rem
    margin-top: 4rem
    max-width: 60rem
    label
        text-align: center
        font-weight: bolder
        font-size: 1.5rem
        margin: auto
    .progress-bar
        background-color: $blue


////////Material UI Stuff

///Input Boxes
.MuiFormLabel-root
    font-size: 1.7rem !important
    color: $blue !important
input.MuiInputBase-input
    font-size: 2rem
    color: $blue !important
div.MuiFormControl-root, div.MuiFilledInput-root
    width: 40vw
    color: $blue !important
    background-color: $slider-background-green !important
    border-top-left-radius: 1rem
    border-top-right-radius: 1rem
div.MuiFormControl-root:hover, div.MuiFilledInput-root:hover
    background-color: $slider-background-green

//Sliders
.MuiSlider-root
    color: $seafoam !important
.MuiSlider-thumb
    background-color: $blue !important
span.MuiSlider-markLabel
    font-size: 1.3rem